In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv('./data/data_clean_v4.csv')['NewsFullContent_clean']).drop(3595, axis=0)
df.tail(10)

                                  NewsFullContent_clean
6935  Công ty Cổ phần Chứng khoán MB công bố báo cáo...
6936  Công ty Cổ phần Chứng khoán MB công bố báo cáo...
6937   Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
6938  STTMã CKSànGiá thay đổiKhối lượng giao dịch tí...
6939  STTMã CKSànGiá thay đổiKhối lượng giao dịch tí...
6940  STTMã CkSànGiá thay đổiKhối lượng giao dịch tí...
6941  STTMã CKSànGiá thay đổiKhối lượng giao dịch tí...
6942  Công ty hoàn thành 887 kế hoạch lợi nhuận trướ...
6943  Chốt phiên giao dịch ngày 1512 cổ phiếu VCB dừ...
6944  Hội đồng quản trị Công ty cổ phần Tập đoàn MaS...

In [3]:
# Tính số từ trong mỗi bài báo, chỉ lấy các bài báo có > 50 từ
df['len'] = df['NewsFullContent_clean'].apply(lambda text: len(text))
df = df[df['len'] > 50]

In [4]:
# Tính độ dài của mỗi từ trong bài báo, kiểm tra các bài báo có từ có độ dài > 20
df['word_len'] = df['NewsFullContent_clean'].apply(lambda text: max([len(w) for w in text.split()]))
df[df['word_len'] > 20]

                                  NewsFullContent_clean   len  word_len
36    Cụ thể 6 tháng đầu năm PNJ đạt tổng doanh thu ...  1333        30
58    Đây là sự quan tâm đầu tiên được cổ đông đặt r...  4855        24
121   Ngân hàng TMCP Vietcombank mãVCB thông báokết ...  1601        32
122   Ngân hàng TMCP Sài Gòn Thương tín mãSTBcông bố...  1821        29
143   Ngân hàng TMCP Công thương Việt Nam VietinBank...  5366        42
...                                                 ...   ...       ...
6936  Công ty Cổ phần Chứng khoán MB công bố báo cáo...   162        22
6938  STTMã CKSànGiá thay đổiKhối lượng giao dịch tí...   331       241
6939  STTMã CKSànGiá thay đổiKhối lượng giao dịch tí...  1207      1158
6940  STTMã CkSànGiá thay đổiKhối lượng giao dịch tí...  6910      6808
6941  STTMã CKSànGiá thay đổiKhối lượng giao dịch tí...  1368      1319

[2621 rows x 3 columns]